@model DemoProject.Models.Employee;
@{
    ViewData["Title"] = "Home Page";
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}
@{
    var employeeData = ViewData["EmployeeList"] as List<Employee>;
}
   
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<form asp-controller="Home" asp-action="Index" method="post">
    <div class="row">
        <div class="col-md-6">
            <label class="form-label">Select Start Date</label>
            <select asp-for="StartDate" class="form-control" required asp-items="@(new SelectList(Model.EmployeeList, "Value", "Text"))"></select>
        </div>
        <div class="col-md-6">
            <label class="form-label">Select End Date</label>
            <select asp-for="EndDate" class="form-control" required asp-items="@(new SelectList(Model.EmployeeList2, "Value", "Text"))"></select>
        </div>
        <div class="col-md-3">
            <label class="form-label">Search Employee</label>
            <select class="form-control searchable-dropdown" asp-for="Name" id="nameDropdown">
                @foreach (var item in Model.EmployeeList3)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            </select>
        </div>
        <div class="col-md-3">
            <label class="form-label">Search State</label>
            <select class="form-control searchable-dropdown" asp-for="State" id="StateDropdown">
                @foreach (var item in Model.EmployeeList10)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            </select>
        </div>
        <div class="col-md-3">
            <label class="form-label">Search District</label>
            <select class="form-control searchable-dropdown" asp-for="District" id="districtDropdown">
                @foreach (var item in Model.EmployeeList4)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            </select>
        </div>
         <div class="col-md-3">
            <label class="form-label">Search PU</label>
            <select class="form-control searchable-dropdown" asp-for="PU" id="PUDropdown">
                @foreach (var item in Model.EmployeeList5)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            </select>
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-3">
            <label class="form-label">Search PU Mapped</label>
            <select class="form-control searchable-dropdown" asp-for="PUMapped" id="PUMappedDropdown">
                @foreach (var item in Model.EmployeeList6)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            </select>
        </div>

        <div class="col-md-3">
            <label class="form-label">Search DM</label>
            <select class="form-control searchable-dropdown" asp-for="DM" id="DMDropdown">
                @foreach (var item in Model.EmployeeList7)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            </select>
        </div>
        <div class="col-md-3">
            <label class="form-label">Search CSGhead</label>
            <select class="form-control searchable-dropdown" asp-for="CSGhead" id="CSGheadDropdown">
                @foreach (var item in Model.EmployeeList9)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            </select>
        </div>
        <div class="col-md-3">
            <label class="form-label">Search CSG</label>
            <select class="form-control searchable-dropdown" asp-for="CSG" id="CSGDropdown">
                @foreach (var item in Model.EmployeeList8)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            </select>
        </div> 
    </div>
    <div>
        <br />
        <input type="submit" value="Search" class="btn btn-success" id="searchButton" />  
        <input type="submit" name="action" value="Revenue" class="btn btn-success"/>
        <input type="submit" name="action" value="Volume" class="btn btn-success"/>
        @if ((bool)(ViewBag.blnRevenue ?? false))
        {
            <input type="submit" name="action" value="RevDownload" class="btn btn-primary" />
        }
        @if ((bool)(ViewBag.blnVolume ?? false))
        {
            <input type="submit" name="action" value="VolDownload" class="btn btn-primary" />
        }
        @if (!(bool)(ViewBag.blnRevenue ?? false) && !(bool)(ViewBag.blnVolume ?? false))
        {
            <input type="submit" name="action" value="Download" class="btn btn-primary" />
        }
        <input type="submit" name="action" value="Graph" class="btn btn-warning" />
    </div>
</form>

@if (ViewBag.EmployeeList != null && ViewBag.EmployeeList.Count > 0)
{
    <div class="table-responsive" style="margin-top:11px;">
        <div>
            <input type="text" id="searchInput" class="form-control" placeholder="Search...">
        </div>
        <table id="employeeTable" class="table table-bordered">
            <thead>
                <tr style="text-align:center;">
                    <th colspan="4">Customer Details</th>
                    <th colspan="2">@ViewBag.SelectedStartDate</th>
                    <th colspan="2">@ViewBag.SelectedEndDate</th>
                    <th colspan="3">Starter</th>
                    <th colspan="2">Variance</th>
                </tr>
                <tr style="background-color: #add8e6;">
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Joining Date</th>
                    <th scope="col">State</th>
                    <th scope="col">District</th>
                    <th scope="col">Language</th>
                    <th scope="col">PU</th>
                    <th scope="col">PU Mapped</th>
                    <th scope="col">DM</th>
                    <th scope="col">CSG Head</th>
                    <th scope="col">CSG</th>
                    @if (ViewBag.blnRevenue)
                    {
                        <th scope="col">RevVar</th>
                    }
                    @if (ViewBag.blnVolume)
                    {
                        <th scope="col">VolVar</th>
                    }
                    @if (!ViewBag.blnRevenue && !ViewBag.blnVolume)
                    {
                        <th scope="col">RevVar</th>
                        <th scope="col">VolVar</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var employee in ViewBag.EmployeeList)
                {
                    <tr>
                        <td>@employee.Id</td>
                        <td>@employee.Name</td>
                        <td>@employee.JoiningDate.ToString("yyyy-MM-dd")</td>
                        <td>@employee.State</td>
                        <td>@employee.District</td>
                        <td>@employee.Language</td>
                        <td>@employee.PU</td>
                        <td>@employee.PUMapped</td>
                        <td>@employee.DM</td>
                        <td>@employee.CSGhead</td>
                        <td>@employee.CSG</td>
                        @if (ViewBag.blnRevenue)
                        {
                            <td>@employee.RevVar</td>
                        }
                        @if (ViewBag.blnVolume)
                        {
                            <td>@employee.VolVar</td>
                        }
                        @if (!ViewBag.blnRevenue && !ViewBag.blnVolume)
                        {
                            <td>@employee.RevVar</td>
                            <td>@employee.VolVar</td>
                        }

                    </tr>
                }
            </tbody>
        </table>
    </div>
     <div class="container">
        @if (pager.TotalPages >0)
    {
        <ul class="pagination justify-content-end">
            @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
            {
                <li class="page-item @(pge == pager.CurrentPage?"active":"")">
                    <a class="page-link" asp-controller="Employee" asp-action="Index" asp-route-pg="@pge">@pge</a>
                </li>
            }
            @if (pager.CurrentPage < pager.TotalPages)
            {
                <li class="page-item @(pager.CurrentPage +1 ==pager.CurrentPage ? "active":"")">
                    <a class="page-link" asp-controller="Employee" asp-action="Index" asp-route-pg="@(pager.CurrentPage +1)">Next</a>
                </li>
                <li class="page-item @(pager.CurrentPage == pager.CurrentPage ? "active":"")">
                    <a class="page-link" asp-controller="Employee" asp-action="Index" asp-route-pg="@(pager.TotalPages)">Last</a>
                </li>
            }

        </ul>
    }
</div>
<partial name="_pager" model="@pager" />

    }
   

@section Scripts {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#StartDate, #EndDate').change(function () {
                var startDate = $('#StartDate').val();
                var endDate = $('#EndDate').val();

                if (startDate === endDate) {
                    alert('Please select different end date.');
                    $('#EndDate').val('');
                }
            });

            $('.searchable-dropdown').select2();

                 $('#CSGDropdown').append($('<option>', {
                                value: item.value,
                                text: item.text
                            }));
                        });
                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                    }  $('#CSGheadDropdown').change(function () {
                var selectedCSGHead = $(this).val();
                $.ajax({
                    url: '@Url.Action("GetCSGbyCSGhead", "Home")',
                    type: 'GET',
                    data: { csgHead: selectedCSGHead },
                    dataType: 'json',
                    success: function (data) {
                        $('#CSGDropdown').empty();
                        $.each(data, function (index, item) {
                            $('#CSGDropdown').append($('<option>', {
                                value: item.value,
                                text: item.text
                            }));
                        });
                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                    }
                });
            });
        });
    </script>
}

@* @section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

    <script>
        $(document).ready(function () {
             $('.searchable-dropdown').select2();
            $('#nameDropdown, #districtDropdown, #PUDropdown, #PUMappedDropdown, #DMDropdown, #CSGDropdown, #LanguageDropdown,#CSGheadDropdown').change(function () {
                filterTable();
            });
        });

        function filterTable() {
            var nameValue = $('#nameDropdown').val().toLowerCase();
            var districtValue = $('#districtDropdown').val().toLowerCase();
            var puValue = $('#PUDropdown').val().toLowerCase();
            var puMappedValue = $('#PUMappedDropdown').val().toLowerCase();
            var dmValue = $('#DMDropdown').val().toLowerCase();
            var csgValue = $('#CSGDropdown').val().toLowerCase();
            var LanguageValue = $('#LanguageDropdown').val().toLowerCase();
            var CSGheadValue = $('#CSGheadDropdown').val().toLowerCase();

            $('#employeeTable tbody tr').each(function () {
                var text = $(this).text().toLowerCase();
                var nameMatch = nameValue === '' || text.indexOf(nameValue) !== -1;
                var districtMatch = districtValue === '' || text.indexOf(districtValue) !== -1;
                var puMatch = puValue === '' || text.indexOf(puValue) !== -1;
                var puMappedMatch = puMappedValue === '' || text.indexOf(puMappedValue) !== -1;
                var dmMatch = dmValue === '' || text.indexOf(dmValue) !== -1;
                var csgMatch = csgValue === '' || text.indexOf(csgValue) !== -1;
                var LanguageMatch = LanguageValue === '' || text.indexOf(LanguageValue) !== -1;
                var CSGheadMatch = CSGheadValue === '' || text.indexOf(CSGheadValue) !== -1;

                if (nameMatch && districtMatch && puMatch && puMappedMatch && dmMatch && csgMatch && LanguageMatch && CSGheadMatch) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        }
    </script>
} *@



<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("searchInput").addEventListener("keyup", function () {
            var searchValue = this.value.toLowerCase();
            var rows = document.getElementById("employeeTable").querySelectorAll("tbody tr");

            rows.forEach(function (row) {
                var found = false;
                row.querySelectorAll("td").forEach(function (cell) {
                    if (cell.textContent.toLowerCase().includes(searchValue)) {
                        found = true;
                    }
                });
                if (found) {
                    row.style.display = "";
                } else {
                    row.style.display = "none";
                }
            });
        });
    });
</script>


