@model DemoProject.Models.Employee;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<form asp-controller="Home" asp-action="Index" method="post">
    <div class="row">
        <div class="col-md-6">
            <label class="form-label">Select Start Date</label>
            <select asp-for="StartDate" class="form-control" required asp-items="@(new SelectList(Model.EmployeeList,"Value","Text"))"></select>
        </div>
        <div class="col-md-6">
            <label class="form-label">Select End Date</label>
            <select asp-for="EndDate" class="form-control" required asp-items="@(new SelectList(Model.EmployeeList2,"Value","Text"))"></select>
        </div>
    </div>
    <div>
        <br />
        <input type="submit" value="Show" class="btn btn-success" />
        <input type="submit" name="action" value="Download" class="btn btn-primary" />
    </div>
</form>

@if (ViewBag.EmployeeList != null && ViewBag.EmployeeList.Count > 0)
{
    <div class="table-responsive" style="margin-top:11px;">
        <div>
            <input type="text" id="searchInput" class="form-control" placeholder="Search...">
        </div>
        <table id="employeeTable" class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="2">@ViewBag.SelectedStartDate </th>
                    <th> @ViewBag.SelectedEndDate </th>
                </tr>
                <tr style="background-color: #add8e6;">
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Joining Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var employee in ViewBag.EmployeeList)
                {
                    <tr>
                        <td>@employee.Id</td>
                        <td>@employee.Name</td>
                        <td>@employee.JoiningDate.ToString("yyyy-MM-dd")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("searchInput").addEventListener("keyup", function () {
            var searchValue = this.value.toLowerCase();
            var rows = document.getElementById("employeeTable").querySelectorAll("tbody tr");

            rows.forEach(function (row) {
                var found = false;
                row.querySelectorAll("td").forEach(function (cell) {
                    if (cell.textContent.toLowerCase().includes(searchValue)) {
                        found = true;
                    }
                });
                if (found) {
                    row.style.display = "";
                } else {
                    row.style.display = "none";
                }
            });
        });
    });
</script>


